@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Welcome to our site  management of theatrical shows</h1>
    <img src="https://us.123rf.com/450wm/yulialavrova/yulialavrova1402/yulialavrova140200019/26000116-sc%C3%A8ne-de-th%C3%A9%C3%A2tre-avec-rideau-rouge-et-masques-illustration.jpg" width="400" height="500">

</div>
